<div class="ScrollStyleINFO">

  <p>Pestaña informativaaaa</p>

  <div class="input-group mb-3">
    <div class="custom-file">
      <input (change)="seleccionarFoto($event)" type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
      <label class="form-label" for="inputGroupFile04"></label>
    </div>
    <div class="input-group-append">
      <button (click)="subirFoto()" class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Cargar Imagen</button>
    </div>
  </div>

  <div *ngIf="progreso > 0" class="progress" style="height: 40px;">
    <div class="progress-bar" role="progressbar" [ngStyle]="{width:progreso+'%'}" attr.aria-valuenow="{{progreso}}" aria-valuemin="0" aria-valuemax="100">
      {{progreso}}%
    </div>
  </div>

  </div>
